section{
    display: flex;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orangered;
}
.text{
    width: 50%;
    padding-left: 130px;
    margin-top: 100px;
}
.text p{
    width: 750px;
    margin-bottom: 50px;
}
.text h3{
    font-size: 20px;
}

.image img{
    width: 80%;
    padding-right: 130px;
    padding-left: 100px;
    padding-top: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
}
#first{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.image2{
    width: 50%;
}
.text2{
    width: 50%;
    margin-top: 110px;
}

.text2 p{
    width: 750px;
    margin-bottom: 50px;
}
.text2 h3{
    font-size: 20px;
}
.dream-big{
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

